POSTGRES_USER=de_user
POSTGRES_PASSWORD=de_password
POSTGRES_DB=de_workshop
JUPYTER_TOKEN=22b90af770b14ca7aeb5615a247e11b4
API_URL=file:///app/data/inbound/transactions.json
CSV_PATH=data/inbound/transactions_daily.csv
PARTNER_API_ID=partner_api
PARTNER_CSV_ID=partner_csv
INGEST_SOURCE=both